html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #f6f6f6;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-slider-horizontal > div.mat-slider-wrapper {
    top: 19px;
}
