:host {
    display: block;
}

:host.vk > mat-card {
    background: lightblue;
}

:host.zaycev > mat-card {
    background: burlywood;
}

:host.download > mat-card {
    background: lightgreen;
}

.mat-mdc-card {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px 16px;
}

.mat-mdc-card-header {
    width: 100%;
    padding: 0;
}

.mat-mdc-card-title {
    font-size: 16px;
}

.mat-mdc-card-subtitle {
    font-size: 14px;
}

.mat-mdc-card-footer {
    display: flex;
    align-items: center;
}
