<mat-card appearance="raised">
  <mat-card-header>
    <mat-card-title [matTooltip]="track.title">{{ track.title }}</mat-card-title>
    <mat-card-subtitle [matTooltip]="track.singer">{{ track.singer }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-footer>
    <span>{{ track.duration | duration }}</span>
  </mat-card-footer>

  <mat-card-actions *ngIf="canAddTrack">
    <button (click)="addTrack()" mat-icon-button matTooltip="Заказать">
      <mat-icon>playlist_add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
