:host {
    display: block;
}

:host.vk > mat-card {
    background: lightblue;
}

:host.download > mat-card {
    background: lightgreen;
}

mat-card {
    display: flex;
    align-items: center;
    padding: 8px;
    flex: 1 1;
    min-width: 0;
    height: 40px;
}

.track-head {
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track-head > div {
    white-space: pre-wrap;
}

button {
    flex: none;
}

span {
    flex: none;
}
