<div class="left">
    <mat-form-field>
        <mat-label>Поиск</mat-label>
        <input #searchInput
               (keyup.enter)="search(searchInput.value)"
               matInput
               placeholder="Тап-тап-тап"
               type="text">
    </mat-form-field>
    <cdk-virtual-scroll-viewport class="search-results" itemSize="72">
        <app-track (add)="addTrack(track)"
                   *cdkVirtualFor="let track of searchResults$ | async; trackBy: getId; templateCacheSize: 5"
                   [canAdd]="true"
                   [track]="track">
        </app-track>
    </cdk-virtual-scroll-viewport>
</div>
<div class="right">
    <app-track-control (skip)="skipTrack()"
                       (togglePlay)="togglePlay()"
                       (volumeChange)="changeVolume($event)"
                       (shuffle)="shuffle()"
                       *ngIf="current$ | async as current"
                       [track]="current"
                       [volume]="volume$ | async"
                       [playDuration]="playDuration$ | async"
                       class="current">
    </app-track-control>
    <cdk-virtual-scroll-viewport (cdkDropListDropped)="onTrackDrag($event)"
                                 cdkDropList
                                 class="playlist"
                                 itemSize="72">
        <app-track *cdkVirtualFor="let track of playlist$ | async; trackBy: getId; templateCacheSize: 5"
                   [cdkDragData]="track"
                   [track]="track"
                   cdkDrag>
        </app-track>
    </cdk-virtual-scroll-viewport>
</div>
