:host {
    display: block;
}

mat-card {
    display: flex;
    padding: 8px;
}

.head {
    flex: 1 1;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 0;
}

.head > div {
    white-space: pre-wrap;
}

.actions {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

mat-slider {
    padding: 0 8px;
}

audio {
    display: none;
}
